<a href="/dashboard">&larr; Back to Dashboard </a>
<div class="admin-title">
  <h2>Add New Post</h2>
</div>
<form action="/add-post" method="POST">
  <label for="title">Title:</label>
  <input type="text" placeholder="Enter post title" name="title" required />
  <label for="body">Body:</label>
  <textarea
    name="body"
    cols="50"
    rows="10"
    placeholder="Enter post content"
    required
  ></textarea>
  <button type="submit" value="Add Post" class="btn">Add Post</button>
</form>
