<h3>Sign In</h3>

<form action="/admin" method="POST">
    <label for="username">Username:</label>
    <input type="text" placeholder="Enter your username" name="username" required />
    <label for="password">Password:</label>
    <input type="password" placeholder="Enter your password" name="password" required />
    <button type="submit" value="Login" class="btn">Sign In</button>
</form>

<!-- <h3>Register</h3>

<form action="/register" method="POST">
    <label for="username">Username:</label>
    <input type="text" placeholder="Enter your username" name="username" required />
    <label for="password">Password:</label>
    <input type="password" placeholder="Enter your password" name="password" required />
    <button type="submit" value="Register" class="btn">Register</button>
</form> -->